HELP.md
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
bin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

product/HELP.md
product/target/

### STS ###
product/.apt_generated
product/.classpath
product/.factorypath
product/.project
product/.settings
product/.springBeans
product/.sts4-cache


### Docker ###
.attach_pid*
